# Lista 2 - Exercícios Pandas

_Descrição dos Exercícios:_ Serão 5 exercícios onde o objetivo será conseguir os dados de datasets conhecidos do Kaggle e responder os tópicos propostos para cada um deles.

In [2]:
import pandas as pd

## __Exercício 1:__ Análise de Dados do Airbnb em Nova York

__Dataset:__  Disponível no Kaggle como _New York City Airbnb Open Data_.

In [3]:
df = pd.read_csv("AB_NYC_2019.csv")

### __item 1__
Exiba as primeiras 5 linhas do dataset para entender a estrutura dos dados.

In [4]:
df.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

### __item 2__
Calcule o preço médio de aluguel por bairro (neighbourhood_group).

In [5]:
df.groupby(by='neighbourhood_group')['price'].mean()

neighbourhood_group
Bronx             87.496792
Brooklyn         124.383207
Manhattan        196.875814
Queens            99.517649
Staten Island    114.812332
Name: price, dtype: float64

### __item 3__
Encontre o número de opções de hospedagem disponíveis em cada tipo de quarto (room_type).

In [6]:
df['room_type'].value_counts()

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: count, dtype: int64

### __item 4__
Determine os 10 bairros com a maior quantidade de hospedagens listadas.

In [7]:
df['neighbourhood'].value_counts().sort_values(ascending=False)[:10]

neighbourhood
Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
Hell's Kitchen        1958
East Village          1853
Upper East Side       1798
Crown Heights         1564
Midtown               1545
Name: count, dtype: int64

## __Exercício 2:__ Explorando Dados de Vendas de Imóveis
    
__Dataset:__ Disponível no Kaggle como _House Prices: Advanced Regression Techniques._

In [8]:
df = pd.concat([
    pd.read_csv("train.csv"),
    pd.read_csv("test.csv")
])

### __item 1__
Exiba o número total de linhas e colunas no DataFrame.

In [9]:
df.shape

(2919, 81)

### __item 2__
Encontre o preço médio dos imóveis.

In [10]:
df['SalePrice'].mean()

180921.19589041095

### __item 3__
Liste as 5 maiores áreas de lote (LotArea).

In [12]:
df['LotArea'].sort_values(ascending=False)[:5]

313    215245
335    164660
249    159000
706    115149
451     70761
Name: LotArea, dtype: int64

### __item 4__
Determine quantos imóveis possuem mais de 2 banheiros (FullBath).

In [13]:
df[df['FullBath'] > 2]['FullBath'].shape[0]

68

## __Exercício 3:__ Análise de Dados de Compras Online

__Dataset:__ Disponível no Kaggle como _Brazilian E-Commerce Public Dataset by Olist._

In [29]:
df = pd.read_csv('olist_orders_dataset.csv')

time_cols = ['order_purchase_timestamp',
             'order_approved_at',
             'order_delivered_carrier_date', 
             'order_delivered_customer_date',
             'order_estimated_delivery_date']

df[time_cols] = df[time_cols].apply(pd.to_datetime)

df.shape

(99441, 8)

### __item 1__
Determine quantos pedidos foram feitos em cada ano.

In [30]:
df['year'] = df['order_purchase_timestamp'].dt.year
df['year'].value_counts()

year
2018    54011
2017    45101
2016      329
Name: count, dtype: int64

### __item 2__
Calcule o tempo médio de entrega (diferença entre order_purchase_timestamp e order_delivered_customer_date).

In [31]:
(
    df[df['order_status'] == 'delivered']['order_delivered_customer_date']
    -
    df[df['order_status'] == 'delivered']['order_purchase_timestamp']
).mean()

Timedelta('12 days 13:23:49.957271690')

### item __3__
Identifique o top 5 categorias de produtos mais vendidos.

In [47]:
pd.read_csv('olist_products_dataset.csv')

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [48]:
pd.read_csv('olist_order_items_dataset.csv')

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [40]:
pd.read_csv('olist_orders_dataset.csv')

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

## __Exercício 4:__ Análise de Dados de Filmes do IMDb
    
__Dataset:__ Disponível no Kaggle como _IMDb movies extensive dataset_.

In [17]:
movies  = pd.read_csv("imdbmovies.csv",low_memory=False)
movies.sample(3)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
6849,tt0043606,Guardie e ladri,Guardie e ladri,1951,1951-12-21,"Comedy, Drama",105,Italy,"Italian, English, French","Mario Monicelli, Steno",...,"Aldo Fabrizi, Totò, Ave Ninchi, William Tubbs,...",Esposito is a thief who cons tourists in Rome....,7.7,1293,NaN,NaN,NaN,NaN,4.0,3.0
4759,tt0036952,Bombe su Varsavia,In Our Time,1944,1944-02-19,Drama,110,USA,English,Vincent Sherman,...,"Ida Lupino, Paul Henreid, Nancy Coleman, Mary ...",It is early 1939 in Poland when Mrs. Bromley a...,6.6,462,NaN,NaN,NaN,NaN,21.0,3.0
42536,tt0337697,Un principe tutto mio,The Prince & Me,2004,2004-08-27,"Comedy, Family, Romance",111,"USA, Czech Republic","English, Danish, German",Martha Coolidge,...,"Julia Stiles, Luke Mably, Ben Miller, Miranda ...","At college Paige meets Eddie, a fellow student...",5.9,36938,$ 22000000,$ 28176497,$ 37666766,47.0,160.0,84.0

__Questões:__

__1-__ Exiba os títulos e anos dos 10 filmes mais recentes no dataset.

__R:__ Não foi possível fazer a conversão de toda a coluna `date_published` para datetime, então investigamos abaixo quais são os formatos que falharam na conversão:

In [18]:
for i in movies['date_published'].unique():
    try:
        pd.to_datetime(i)
    except:
        print(i)

TV Movie 2019

Checamos onde temos o problema:

In [19]:
movies[movies['date_published'] == 'TV Movie 2019']

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
83917,tt8206668,Bad Education,Bad Education,TV Movie 2019,TV Movie 2019,"Biography, Comedy, Crime",108,USA,English,Cory Finley,...,"Hugh Jackman, Ray Romano, Welker White, Alliso...",The beloved superintendent of New York's Rosly...,7.1,23973,NaN,NaN,NaN,79.0,135.0,98.0

Consertamos a data e, em seguida, convertemos toda a coluna para o formato de datetime, e assim estamos em condições de responder a questão:

In [20]:
# movies[movies['date_published'] == 'TV Movie 2019']
movies.at[83917,'date_published'] = 2019
movies['date_published'] = movies['date_published'].apply(pd.to_datetime)

# exibimos apenas título e ano, ordenamos por ano, mostramos apenas as 10 últimas linhas
movies[['title','date_published']].sort_values(by='date_published', ascending=False).iloc[:10,:]

                           title date_published
84686        A Wakefield Project     2021-05-07
81909            Shadows in Mind     2021-04-30
83083                 Winterskin     2021-04-16
77295           The Terrible Two     2021-04-02
52656                 The Father     2021-01-08
71492           Kids vs Monsters     2021-01-01
75852  SpongeBob - Amici in fuga     2021-01-01
65510           My Salinger Year     2020-11-20
53298                     Minari     2020-11-20
84515                  The Climb     2020-11-13

__2-__ Calcule a duração média dos filmes.

In [21]:
movies['duration'].mean()

100.35141808863781

__3-__ Identifique o filme com a maior quantidade de votos (votes).

In [22]:
movies[movies['votes'] == movies['votes'].max()]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
28453,tt0111161,Le ali della libertà,The Shawshank Redemption,1994,1995-02-10,Drama,142,USA,English,Frank Darabont,...,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...,9.3,2278845,$ 25000000,$ 28699976,$ 28815245,80.0,8232.0,164.0

__4-__ Determine quantos filmes possuem uma classificação (avg_vote) superior a 8.

In [23]:
movies[movies['avg_vote'] > 8].shape[0]

1286

## __Exercício 5:__ Explorando Dados de Jogos de Videogame
    
__Dataset:__ Disponível no Kaggle como _Video Game Sales with Ratings_.

In [24]:
df = pd.read_csv('video_games.csv')
df.sample(6)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
811,Spec Ops: Airborne Commando,PS,2002.0,Shooter,Take-Two Interactive,1.54,0.46,0.00,0.08,2.07,NaN,NaN,NaN,NaN,NaN,NaN
2446,Street Fighter EX3,PS2,2000.0,Fighting,Virgin Interactive,0.32,0.25,0.20,0.08,0.85,64.0,17.0,7.9,31.0,Arika,T
14028,Steambot Chronicles,PS2,2005.0,Role-Playing,505 Games,0.02,0.01,0.00,0.00,0.04,74.0,35.0,8.2,17.0,Irem,T
10518,NASCAR The Game: Inside Line,X360,2012.0,Racing,Activision,0.09,0.00,0.00,0.01,0.10,72.0,7.0,3.4,27.0,Eutechnyx,E
3430,SoulCalibur V,X360,2012.0,Fighting,Namco Bandai Games,0.39,0.13,0.02,0.04,0.58,77.0,56.0,6.2,124.0,Project Soul,T
9606,Drome Racers,PS2,2002.0,Racing,Electronic Arts,0.06,0.05,0.00,0.02,0.13,57.0,10.0,tbd,NaN,Attention To Detail,E

__Questões:__

__1-__ Liste os 5 jogos mais vendidos globalmente (Global_Sales)

In [25]:
df.sort_values(by='Global_Sales', ascending=False).iloc[:5, :]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

__2-__ Calcule as vendas totais na América do Norte (NA_Sales)

In [26]:
df['NA_Sales'].sum()

4402.620000000001

__3-__ Encontre o jogo mais vendido no Japão (JP_Sales).

In [27]:
df[df['JP_Sales'] == df['JP_Sales'].max()]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.0,31.37,NaN,NaN,NaN,NaN,NaN,NaN

__4-__ Determine a média de pontuação dos críticos (Critic_Score) para os jogos da Nintendo.

In [28]:
df[df['Publisher'] == 'Nintendo']['Critic_Score'].mean()

75.52580645161291