# Lista 2 - Exercícios Pandas

_Descrição dos Exercícios:_ Serão 5 exercícios onde o objetivo será conseguir os dados de datasets conhecidos do Kaggle e responder os tópicos propostos para cada um deles.

In [1]:
import pandas as pd

## __Exercício 1:__ Análise de Dados do Airbnb em Nova York

__Dataset:__  Disponível no Kaggle como _New York City Airbnb Open Data_.

In [2]:
df = pd.read_csv("AB_NYC_2019.csv")

### __item 1__
Exiba as primeiras 5 linhas do dataset para entender a estrutura dos dados.

In [3]:
df.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

### __item 2__
Calcule o preço médio de aluguel por bairro (neighbourhood_group).

In [4]:
df.groupby(by='neighbourhood_group')['price'].mean()

neighbourhood_group
Bronx             87.496792
Brooklyn         124.383207
Manhattan        196.875814
Queens            99.517649
Staten Island    114.812332
Name: price, dtype: float64

### __item 3__
Encontre o número de opções de hospedagem disponíveis em cada tipo de quarto (room_type).

In [5]:
df['room_type'].value_counts()

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: count, dtype: int64

### __item 4__
Determine os 10 bairros com a maior quantidade de hospedagens listadas.

In [6]:
df['neighbourhood'].value_counts().sort_values(ascending=False)[:10]

neighbourhood
Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
Hell's Kitchen        1958
East Village          1853
Upper East Side       1798
Crown Heights         1564
Midtown               1545
Name: count, dtype: int64

## __Exercício 2:__ Explorando Dados de Vendas de Imóveis
    
__Dataset:__ Disponível no Kaggle como _House Prices: Advanced Regression Techniques._

In [7]:
df = pd.concat([
    pd.read_csv("train.csv"),
    pd.read_csv("test.csv")
])

### __item 1__
Exiba o número total de linhas e colunas no DataFrame.

In [8]:
df.shape

(2919, 81)

### __item 2__
Encontre o preço médio dos imóveis.

In [9]:
df['SalePrice'].mean()

180921.19589041095

### __item 3__
Liste as 5 áreas de lote (LotArea) mais grandes.

In [10]:
df['LotArea'].sort_values(ascending=False)[:5]

313    215245
335    164660
249    159000
706    115149
451     70761
Name: LotArea, dtype: int64

### __item 4__
Determine quantos imóveis possuem mais de 2 banheiros (FullBath).

In [11]:
df[df['FullBath'] > 2]['FullBath'].shape[0]

68

## __Exercício 3:__ Análise de Dados de Compras Online

__Dataset:__ Disponível no Kaggle como _Brazilian E-Commerce Public Dataset by Olist._

In [12]:
df = pd.read_csv('olist_orders_dataset.csv')

time_cols = ['order_purchase_timestamp',
             'order_approved_at',
             'order_delivered_carrier_date', 
             'order_delivered_customer_date',
             'order_estimated_delivery_date']

df[time_cols] = df[time_cols].apply(pd.to_datetime)

df.shape

(99441, 8)

### __item 1__
Determine quantos pedidos foram feitos em cada ano.

In [13]:
df['year'] = df['order_purchase_timestamp'].dt.year
df['year'].value_counts()

year
2018    54011
2017    45101
2016      329
Name: count, dtype: int64

### __item 2__
Calcule o tempo médio de entrega (diferença entre order_purchase_timestamp e order_delivered_customer_date).

In [14]:
(
    df[df['order_status'] == 'delivered']['order_delivered_customer_date']
    -
    df[df['order_status'] == 'delivered']['order_purchase_timestamp']
).mean()

Timedelta('12 days 13:23:49.957271690')

### __3__
Identifique o top 5 categorias de produtos mais vendidos.

In [15]:
pd.read_csv('olist_products_dataset.csv').head(1)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0

In [16]:
pd.read_csv('olist_order_items_dataset.csv')

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [17]:
for i in pd.read_csv('olist_order_items_dataset.csv').columns:
    print(i)
pd.read_csv('olist_order_items_dataset.csv').shape

order_id
order_item_id
product_id
seller_id
shipping_limit_date
price
freight_value

(112650, 7)

In [18]:
for i in pd.read_csv('olist_orders_dataset.csv').columns:
    print(i)
pd.read_csv('olist_orders_dataset.csv').shape

order_id
customer_id
order_status
order_purchase_timestamp
order_approved_at
order_delivered_carrier_date
order_delivered_customer_date
order_estimated_delivery_date

(99441, 8)

In [19]:
for i in pd.read_csv('olist_products_dataset.csv').columns:
    print(i)
pd.read_csv('olist_products_dataset.csv').shape

product_id
product_category_name
product_name_lenght
product_description_lenght
product_photos_qty
product_weight_g
product_length_cm
product_height_cm
product_width_cm

(32951, 9)

## __Exercício 4:__ Análise de Dados de Filmes do IMDb
    
__Dataset:__ Disponível no Kaggle como _IMDb movies extensive dataset_.

In [20]:
movies  = pd.read_csv("imdbmovies.csv",low_memory=False)
movies.sample(3)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
45381,tt0405860,Dazhe ne dumay! Ten nezavisimosti,Dazhe ne dumay! Ten nezavisimosti,2004,2004-04-01,"Adventure, Comedy, Crime",97,Russia,Russian,Ruslan Baltzer,...,"Aleksey Alekseev, Sergey Mukhin, Artyom Tkache...",This story is about three slacker friends: Mar...,3.9,238,NaN,NaN,$ 2102024,NaN,NaN,NaN
61292,tt1723123,Exit Strategy,Exit Strategy,2012,2012-02-10,"Comedy, Romance",76,USA,English,Michael Whitton,...,"Jameel Saleem, Quincy Harris, Noelle Balfour, ...","Evicted from his apartment, James has to move ...",3.1,355,NaN,NaN,NaN,NaN,15.0,3.0
76664,tt5077912,"White Lies, Black Lies","White Lies, Black Lies",2015,2016-04-15,"Crime, Mystery, Romance",94,Taiwan,Mandarin,Yi-an Lou,...,"Wei-Ning Hsu, Edison Wang, Annie Chen, Teng-Hu...",Heads are lined up on the shelves one next to ...,3.6,248,NaN,NaN,NaN,NaN,NaN,2.0

__Questões:__

__1-__ Exiba os títulos e anos dos 10 filmes mais recentes no dataset.

__R:__ Não foi possível fazer a conversão de toda a coluna `date_published` para datetime, então investigamos abaixo quais são os formatos que falharam na conversão:

In [21]:
for i in movies['date_published'].unique():
    try:
        pd.to_datetime(i)
    except:
        print(i)

TV Movie 2019

Checamos onde temos o problema:

In [22]:
movies[movies['date_published'] == 'TV Movie 2019']

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
83917,tt8206668,Bad Education,Bad Education,TV Movie 2019,TV Movie 2019,"Biography, Comedy, Crime",108,USA,English,Cory Finley,...,"Hugh Jackman, Ray Romano, Welker White, Alliso...",The beloved superintendent of New York's Rosly...,7.1,23973,NaN,NaN,NaN,79.0,135.0,98.0

Consertamos a data e, em seguida, convertemos toda a coluna para o formato de datetime, e assim estamos em condições de responder a questão:

In [23]:
# movies[movies['date_published'] == 'TV Movie 2019']
movies.at[83917,'date_published'] = 2019
movies['date_published'] = movies['date_published'].apply(pd.to_datetime)

# exibimos apenas título e ano, ordenamos por ano, mostramos apenas as 10 últimas linhas
movies[['title','date_published']].sort_values(by='date_published', ascending=False).iloc[:10,:]

                           title date_published
84686        A Wakefield Project     2021-05-07
81909            Shadows in Mind     2021-04-30
83083                 Winterskin     2021-04-16
77295           The Terrible Two     2021-04-02
52656                 The Father     2021-01-08
71492           Kids vs Monsters     2021-01-01
75852  SpongeBob - Amici in fuga     2021-01-01
65510           My Salinger Year     2020-11-20
53298                     Minari     2020-11-20
84515                  The Climb     2020-11-13

__2-__ Calcule a duração média dos filmes.

In [24]:
movies['duration'].mean()

100.35141808863781

__3-__ Identifique o filme com a maior quantidade de votos (votes).

In [25]:
movies[movies['votes'] == movies['votes'].max()]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
28453,tt0111161,Le ali della libertà,The Shawshank Redemption,1994,1995-02-10,Drama,142,USA,English,Frank Darabont,...,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...,9.3,2278845,$ 25000000,$ 28699976,$ 28815245,80.0,8232.0,164.0

__4-__ Determine quantos filmes possuem uma classificação (avg_vote) superior a 8.

In [26]:
movies[movies['avg_vote'] > 8].shape[0]

1286

## __Exercício 5:__ Explorando Dados de Jogos de Videogame
    
__Dataset:__ Disponível no Kaggle como _Video Game Sales with Ratings_.

In [27]:
df = pd.read_csv('video_games.csv')
df.sample(6)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
10952,The Story of Noah's Ark,DS,2010.0,Action,SouthPeak Games,0.09,0.00,0.00,0.01,0.09,NaN,NaN,NaN,NaN,NaN,NaN
14052,"Minna de Jibun no Setsumeisho: B-Kata, A-Kata,...",DS,2008.0,Misc,GungHo,0.00,0.00,0.04,0.00,0.04,NaN,NaN,NaN,NaN,NaN,NaN
1223,NFL GameDay 99,PS,1998.0,Sports,989 Studios,1.44,0.05,0.00,0.04,1.53,NaN,NaN,NaN,NaN,NaN,NaN
1269,Madden NFL 09,PS2,2008.0,Sports,Electronic Arts,1.22,0.00,0.00,0.27,1.49,67.0,4.0,7,24.0,EA Tiburon,E
16650,Time Travelers,PSP,2012.0,Adventure,Level 5,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
10190,Karaoke Revolution Presents American Idol Encore,X360,2008.0,Misc,Konami Digital Entertainment,0.10,0.00,0.00,0.01,0.11,70.0,7.0,7,6.0,Blitz Games,E

__Questões:__

__1-__ Liste os 5 jogos mais vendidos globalmente (Global_Sales)

In [28]:
df.sort_values(by='Global_Sales', ascending=False).iloc[:5, :]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

__2-__ Calcule as vendas totais na América do Norte (NA_Sales)

In [29]:
df['NA_Sales'].sum()

4402.620000000001

__3-__ Encontre o jogo mais vendido no Japão (JP_Sales).

In [30]:
df[df['JP_Sales'] == df['JP_Sales'].max()]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.0,31.37,NaN,NaN,NaN,NaN,NaN,NaN

__4-__ Determine a média de pontuação dos críticos (Critic_Score) para os jogos da Nintendo.

In [31]:
df[df['Publisher'] == 'Nintendo']['Critic_Score'].mean()

75.52580645161291